<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.java.dynamic.model.mapper.BoardMapper">
    <!-- alias를 주는 대신에... -->
    <resultMap id="BoardResultMap" type="kr.java.dynamic.model.domain.Board">
        <id property="id" column="board_id" />
        <!-- case 문제가 없음 -->
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="writer" column="writer" />
        <!-- domain : camelCase, table : snake_case -->
        <result property="viewCount" column="view_count" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <!-- 공통 컬럼 -->
    <sql id="boardColumns">
        board_id, title, content, writer,
        view_count, created_at, updated_at
    </sql>

    <select id="findAll" resultMap="BoardResultMap">
        SELECT
--             board_id,
--             title,
--             content,
--             writer,
--             view_count,
--             created_at,
--             updated_at
            <include refid="boardColumns" />
        FROM
            BOARD
        ORDER BY
            board_id DESC
    </select>

    <select id="findById" parameterType="int" resultMap="BoardResultMap">
        SELECT
            <include refid="boardColumns" />
        FROM
            BOARD
        WHERE id = #{id}
    </select>

    <insert id="insert"
            parameterType="kr.java.dynamic.model.domain.Board"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO BOARD (title, content, writer)
        VALUES (#{title}, #{content}, #{writer})
    </insert>

    <select id="searchBoardsWithIf"
                parameterType="kr.java.dynamic.model.dto.BoardSearchDTO"
                resultMap="BoardResultMap">
        SELECT
            <include refid="boardColumns" />
        FROM BOARD
        WHERE 1 = 1 -- 뒤에 어떤 AND절이 붙어도 괜찮게
        <if test="title != null and title != ''">
            -- '%' -> LIKE -> 앞뒤로 어떤 것이 붙어도 검색되게 하겠다
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="content != null and content != ''">
            AND content LIKE CONCAT('%', #{content}, '%')
        </if>
        <if test="writer != null and writer != ''">
            AND writer LIKE CONCAT('%', #{writer}, '%')
        </if>
        <if test="minViewCount != null">
            AND view_count >= #{minViewCount}
        </if>
    </select>

    <select id="searchBoardsWithChoose"
            parameterType="kr.java.dynamic.model.dto.BoardSearchDTO"
            resultMap="BoardResultMap">
        SELECT
        <include refid="boardColumns" />
        FROM BOARD
        WHERE 1 = 1 -- 뒤에 어떤 AND절이 붙어도 괜찮게
        <choose>
            <when test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </when>
            <when test="content != null and content != ''">
                AND content LIKE CONCAT('%', #{content}, '%')
            </when>
            <when test="writer != null and writer != ''">
                AND writer LIKE CONCAT('%', #{writer}, '%')
            </when>
            <otherwise>
                AND created_at >= DATE_SUB(NOW(), INTERVAL 1 MINUTE)
            </otherwise>
        </choose>
    </select>
</mapper>